
<!DOCTYPE html>
<html>
  <head>
    <title>Adaptive CF</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div id="app">
      <h1 class="centred">Adaptive CF</h1>
      <div class="centred">
        <input v-model="handle">
        <button @click="load_info()">refresh</button>
        <h1>{{ rating }}</h1>
      </div>
      <hr>
	  <div class="right-container">
        <h1 class="centred"> Tags </h1>
        <h1 v-for="tag in tags" :class="{ noselect: true, centred: true, tag: true, chosen: chosen_tags.includes(tag) }" @click="change_tag_state(tag)"> {{ tag }} </h1>
      </div>
      <div class="left-container">
       <div class="problem-container">
          <h1 class="centred">Harder</h1>
          <div class="problem" v-for="el in harder" v-if="tags_compare(el.tags)" :class="{ solved: solved[el.contest] !== undefined &amp;&amp; solved[el.contest][el.index] === 'solved', tried: solved[el.contest] !== undefined &amp;&amp; solved[el.contest][el.index] === 'tried' }">
            <a :href="'http://codeforces.com/problemset/problem/' + el.contest + '/' + el.index" target="_blank">{{ el.contest }}{{ el.index }}: {{ el.name }}</a>
            <span> ({{ el.average }})</span>
          </div>
        </div>
        <div class="problem-container">
          <h1 class="centred">Easier</h1>
          <div class="problem" v-for="el in easier" v-if="tags_compare(el.tags)" :class="{ solved: solved[el.contest] !== undefined &amp;&amp; solved[el.contest][el.index] === 'solved', tried: solved[el.contest] !== undefined &amp;&amp; solved[el.contest][el.index] === 'tried' }">
            <a :href="'http://codeforces.com/problemset/problem/' + el.contest + '/' + el.index" target="_blank">{{ el.contest }}{{ el.index }}: {{ el.name }}</a>
            <span> ({{ el.average }})</span>
          </div>
        </div>
		<div class="problem-container">
          <h1 class="centred">111</h1>
          <div class="problem" v-for="el in easier" v-if="tags_compare(el.tags)" :class="{ solved: solved[el.contest] !== undefined &amp;&amp; solved[el.contest][el.index] === 'solved', tried: solved[el.contest] !== undefined &amp;&amp; solved[el.contest][el.index] === 'tried' }">
            <a :href="'http://codeforces.com/problemset/problem/' + el.contest + '/' + el.index" target="_blank">{{ el.contest }}{{ el.index }}: {{ el.name }}</a>
            <span> ({{ el.average }})</span>
          </div>
        </div>
      </div>

      
    </div>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="vue.js"></script>
  </body>
</html>