body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.centred{
  text-align: center;
  align: center;
}

.problem-container{
  width: 33%;
  float: left;
  display: inline-block;
}

.problem{
  font-size: 20px;
  text-align: center;
  margin: 5px;
  padding: 20px;
  border: solid 2px #666;
  background-color: #EEE;
  border-radius: 15px;
}

.problem_d{
	display: none;
}


.problem.solved{
  background-color: #8F8;
  display: block;
}

.problem.tried_d{
  background-color: #f7c362;
  display: none;
}

.problem.tried{
  background-color: #f7c362;
}

.left-container{
  width: 100%;
  float: top;
}

.right-container{
  float: top;
}

.tag{
  width: 25%;
  float: left;
  margin: 0;
  font-size: 20px;
}

.tag.chosen{
  color: #282;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}