body {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: "Segoe UI";
}

canvas {
  margin: 0;
  padding: 0;
  position: absolute;
}

#controller {
  width: 25%;
  position: absolute;
  right: 0;
  height: 100%;
  background-color: #272727;
}

#restart {
  border: none;
  background-color: #6db327;
  margin-left: 15%;
  margin-top: 20px;
  padding: 10px;
  cursor: pointer;
  color: #ffffff;
}

.label, .info_span {
  color: white;
}

.label, .info_label {
  margin-left: 20px;
}

.info_label, .info_count_label {
  font-size: 25px;
  font-weight: 700;
}

.confirmed_cases_label, #confirmed_cases_count_label {
  color: red;
}

.deaths_label, #deaths_count_label {
  color: gray;
}

.recovered_label, #recovered_count_label {
  color: yellow;
}

.incubation_period_label, #incubation_count_label {
  color: #8484ff;
}

.susceptible_label, #susceptible_count_label {
  color: green;
}

.active_label, #active_count_label {
  color: #964d09;
}

.slider {
  -webkit-appearance: none;
  margin-top: 10px;
  margin-left: 20px;
  width: 50%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #6db327;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}
