body {
  margin: 0;
}

.full_screen {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

.fab {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: absolute;
}

#fab_add {
  right: 0;
  bottom: 0;
  margin: 1vw;
}

video {
  z-index: -1;
  vertical-align: top;
}